  <div class = "container">
    <div class = "show-card">
      <%= cl_image_tag @bar.photo.key, class:"show-img" %>
      <h1><strong><%= @bar.name %></strong></h1>
      <p class="show-address"><strong><%= @bar.address %>, <%= @bar.town %> <%= @bar.post_code %></strong></p>
      <p class="show-desc"><%= @bar.description %></p>
      <div class="show-icons">
        <div class="show-icon-margin">
          <% @bar.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
        </div>
        <div class="show-icon-margin">
          <% if @bar.day && @bar.night %> <span class="material-icons md-20 icon-margin">brightness_4</span> Day/Night
            <% elsif @bar.night %> <span class="material-icons md-20 icon-margin">brightness_2</span> Night
            <% else @bar.day %> <span class="material-icons md-20 icon-margin">brightness_5</span> Day
          <% end %>
        </div>
      </div>

      <div class="show-links">
        <p><%= link_to "Visit website", @bar.website, target: :blank, class: "show-link" %></p>
        <%= link_to "Back", request.referer.present? ? request.referer : root_path, class: "show-link" %>
      </div>

      <div id="map"
        style="width: 100%; height: 200px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  
      <h1 class="review-title"><strong><%= @bar.reviews.size %> Google Reviews</strong><%= render "shared/rating", percent: ((@bar.reviews.average(:rating).to_f / 5.0) * 100) %></h1>
       

      <% @bar.reviews.each do |review| %>
        <div class="review-element">
          <strong><%= review.title %></strong> <br>
          <%= review.description %> <br>
          <%= render "shared/rating", percent: review.rating_as_percent %> <br>
        </div>
      <% end %>
    </div>
  </div>


