  <div>
    <h1><%= @bar.name %></h1>
    <p>
      <%= @bar.description %>
    </p>
    <table>
      <tr>
        <th>Photo:</th>
        <td><%= cl_image_tag @bar.photo.key, class:"cover" %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @bar.address %></td>
      </tr>
      <tr>
        <th>Town:</th>
        <td><%= @bar.town %></td>
      </tr>
      <tr>
        <th>Postcode:</th>
        <td><%= @bar.post_code %></td>
      </tr>
      <tr>
        <th>Budget:</th>
        <td><%= @bar.budget %></td>
      </tr>
      <tr>
        <th>Day:</th>
        <td><%= @bar.day %></td>
      </tr>
      <tr>
        <th>Night:</th>
        <td><%= @bar.night %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><%= link_to "website", @bar.website, target: :blank %></td>
      </tr>
      
    </table>
  
    <h2><%= @bar.reviews.size %> Reviews
    <%= render "shared/rating", percent: ((@bar.reviews.average(:rating).to_f / 5.0) * 100) %> 
    </h2> 
    <% @bar.reviews.each do |review| %>
    <%= render "shared/rating", percent: review.rating_as_percent %> <br>
    <%= review.title %> <br>
    <%= review.description %> <br>
    <% end %>
  </div>

  <div class="container">
    <div id="map"
       style="width: 100%; height: 400px;"
       data-markers="<%= @marker.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

