
<div class="fav-banner">
  <%= link_to :back do %>
    <i class="fas fa-arrow-circle-left button-back"></i>
  <% end %>
  <h2 class="m-0"><strong>My Favourites</strong></h2>
</div>

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
<!--     <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
      <% @favourites.each_with_index do |favourite, index| %>
        <div class="carousel-item <%= "active" if index == (@favourites.size - 1) %>">
          <div class="fave-card">
               <div class="card__corner">
                  <div class="card__corner-triangle"></div>
               </div>
            <div class="fave-title-box">
              <h2>Turn up in <strong><%= favourite.restaurant.town.upcase %></strong></h2>
              <div class="fave-title-box-subtext">
                <p>Created on <%= favourite.created_at.strftime("%d/%m/%Y") %></p>
                <%= link_to favourite_path(favourite), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash-alt trash" style="color:#6e6e6e"></i>
                <% end %>
              </div>
            </div>
            <%= link_to restaurant_path(favourite.restaurant) do %>
            <div class="card-element">
              <%= cl_image_tag favourite.restaurant.photo.key, class:"cover" %>
              <div class="card-element-content">
                <div>
                  <div class="card-element-top">
                    <div>
                      <h3><strong><%= favourite.restaurant.name %></strong></h3>
                      <p><strong><%= favourite.restaurant.address.truncate(40) %></strong></p>
                    </div>
                    <div class="restaurant-icon">
                      <span class="material-icons md-36 md-swiss-coffee center">restaurant</span>
                    </div>
                  </div>
                  <p class="desc-margin"><%= favourite.restaurant.description.truncate(65) %></p>
                </div>
                <div class="main-card-icons">
                  <div class="budget icon-margin">
                    <% favourite.restaurant.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                  </div>
                  <% if favourite.restaurant.day && favourite.restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
                  <% elsif favourite.restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
                  <% else favourite.restaurant.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <%= link_to bar_path(favourite.bar) do %>
            <div class="card-element">
              <%= cl_image_tag favourite.bar.photo.key, class:"cover" %>
              <div class="card-element-content">
                <div>
                  <div class="card-element-top">
                    <div>
                      <h3><strong><%= favourite.bar.name %></strong></h3>
                      <p><strong><%= favourite.bar.address.truncate(40) %></strong></p>
                    </div>
                    <div class="bar-icon">
                      <span class="material-icons md-36 md-swiss-coffee center">local_bar</span>
                    </div>
                  </div>
                  <p class="desc-margin"><%= favourite.bar.description.truncate(65) %></p>
                </div>
                <div class="main-card-icons">
                  <div class="budget icon-margin">
                    <% favourite.bar.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                  </div>
                  <% if favourite.bar.day && favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
                  <% elsif favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
                  <% else favourite.bar.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <%= link_to activity_path(favourite.activity) do %>
            <div class="card-element">
              <%= cl_image_tag favourite.activity.photo.key, class:"cover" %>
              <div class="card-element-content">
                <div>
                  <div class="card-element-top">
                    <div>
                      <h3><strong><%= favourite.activity.name %></strong></h3>
                      <p><strong><%= favourite.activity.address.truncate(40) %></strong></p>
                    </div>
                    <div class="bar-icon">
                      <span class="material-icons md-36 md-swiss-coffee center">attractions</span>
                    </div>
                  </div>
                  <p class="desc-margin"><%= favourite.activity.description.truncate(65) %></p>
                </div>
                <div class="main-card-icons">
                  <div class="budget icon-margin">
                    <% favourite.activity.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                  </div>
                  <% if favourite.activity.day && favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
                  <% elsif favourite.activity.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
                  <% else favourite.activity.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <div class="container">
              <div class="buttons">
                <a href="whatsapp://send?text=www.turn-up-london.com/favourites/<%= favourite.id %>" class="fave-btn">Share on WhatsApp  <i class="fab fa-whatsapp" style="margin-left: 4px;"></i></a>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<div>







