<h1>My Favourites</h1>

<div class="row align-items-start">
  <% @favourites.each do |favourite| %>
   <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div id="fave-card">
        <div class="fave-star">
          <span class="material-icons md-48 md-red">star_rate</span>
        </div>
        <div class="item">
          <div class="fave-img">
          <%= image_tag favourite.restaurant.photo, class:"cover" %>
          </div>
<!--           <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->
          <div class="fave-info">
            <%# <h2>Where to eat:</h2> %>
            <h2><%= favourite.restaurant.name %></h2>
            <div class="fave-restaurant-icon">
              <span class="material-icons md-24 md-red center">restaurant</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fave-img">
          <%= image_tag favourite.bar.photo, class:"cover" %>
          </div>
          <!-- <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->
          <div class="fave-info">
              <%# <h2>Where to drink:</h2> %>
              <h2><%= favourite.bar.name %></h2>
              <div class="fave-bar-icon">
                <span class="material-icons md-24 md-red">local_bar</span>
              </div>
          </div>
        </div>
        <div class="item">
          <div class="fave-img">
          <%= image_tag favourite.activity.photo, class:"cover" %>
          </div>
          <!-- <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->
          <div class="fave-info">
              <%# <h2>What to do:</h2> %>
              <h2><%= favourite.activity.name %></h2>
              <div class="fave-activity-icon">
                <span class="material-icons md-24 md-red">attractions</span>
              </div>
          </div>
        </div>
        <%= link_to "Delete", favourite_path(favourite), method: :delete, data: { confirm: 'Are you sure?' }, class: "fave-btn" %>
      </div>
      </div>
  <% end %>
</div>

<div class="back-button">
  <%= link_to "Search again", pages_path, class: "fave-btn" %>
</div>




