<!--   <div class="fav-banner">
    <h1>Check this out!</h1>
  </div> -->
  <!-- <div class="container"> -->
    <div class="fave-card">
      <div class="fave-title">
       <!--  <span class="material-icons md-48 md-red">star_rate</span> -->
        <h1>Check this out!</h1>
      </div>
      <%= link_to restaurant_path(@favourite.restaurant) do %>
      <div class="card-element">
        <%= cl_image_tag @favourite.restaurant.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @favourite.restaurant.name %></strong></h3>
                <p><strong><%= @favourite.restaurant.address.truncate(40) %></strong></p>
              </div>
              <div class="restaurant-icon">
                <span class="material-icons md-36 md-swiss-coffee center">restaurant</span>
              </div>
            </div>
            <p class="desc-margin"><%= @favourite.restaurant.description.truncate(65) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @favourite.restaurant.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @favourite.restaurant.day && @favourite.restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
            <% elsif @favourite.restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
            <% else @favourite.restaurant.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to bar_path(@favourite.bar) do %>
      <div class="card-element">
        <%= cl_image_tag @favourite.bar.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @favourite.bar.name %></strong></h3>
                <p><strong><%= @favourite.bar.address.truncate(40) %></strong></p>
              </div>
              <div class="bar-icon">
                <span class="material-icons md-36 md-swiss-coffee center">local_bar</span>
              </div>
            </div>
            <p class="desc-margin"><%= @favourite.bar.description.truncate(65) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @favourite.bar.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @favourite.bar.day && @favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
            <% elsif @favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
            <% else @favourite.bar.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to activity_path(@favourite.activity) do %>
      <div class="card-element">
        <%= cl_image_tag @favourite.activity.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @favourite.activity.name %></strong></h3>
                <p><strong><%= @favourite.activity.address.truncate(40) %></strong></p>
              </div>
              <div class="bar-icon">
                <span class="material-icons md-36 md-swiss-coffee center">attractions</span>
              </div>
            </div>
            <p class="desc-margin"><%= @favourite.activity.description.truncate(65) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @favourite.activity.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @favourite.activity.day && @favourite.bar.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
            <% elsif @favourite.activity.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
            <% else @favourite.activity.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>

