  <div class="container">
    <h1>Check this out!</h1>
      <div class="fave-card">
        <div class="fave-star">
          <span class="material-icons md-48 md-red">star_rate</span>
        </div>
        <div class="item">
          <div class="fave-img">
          <%= cl_image_tag @favourite.restaurant.photo.key, class:"cover" %>
          </div>
<!--           <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->

          <div class="fave-info">
            <div class="card-title">
              <h2><%= @favourite.restaurant.name %></h2>
            </div>
            <div class="fave-restaurant-icon">
              <span class="material-icons md-24 md-red center">restaurant</span>
            </div>


              <div class="main-card-icons">
                <div class="budget">
                  <% @favourite.restaurant.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                </div>
                <% if @favourite.restaurant.day && @favourite.restaurant.night %> <i class="fas fa-sun"></i> <i class="fas fa-moon"></i>
                  <% elsif @favourite.restaurant.night %> <i class="fas fa-sun" style="color:#f8f9fa"></i> <i class="fas fa-moon"></i>
                  <% else @favourite.restaurant.day %> <i class="fas fa-sun"></i> <i class="fas fa-moon" style="color:#f8f9fa"></i>
                <% end %>
              </div>

          </div>
        </div>

        <div class="item">
          <div class="fave-img">
          <%= cl_image_tag @favourite.bar.photo.key, class:"cover" %>
          </div>
          <!-- <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->
          <div class="fave-info">
              <h2><%= @favourite.bar.name %></h2>

              <div class="fave-bar-icon">
                <span class="material-icons md-24 md-red">local_bar</span>
              </div>

              <div class="main-card-icons">
                <div class="budget">
                  <% @favourite.bar.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                </div>
                <% if @favourite.bar.day && @favourite.bar.night %> <i class="fas fa-sun"></i> <i class="fas fa-moon"></i>
                  <% elsif @favourite.bar.night %> <i class="fas fa-sun" style="color:#f8f9fa"></i> <i class="fas fa-moon"></i>
                  <% else @favourite.bar.day %> <i class="fas fa-sun"></i> <i class="fas fa-moon" style="color:#f8f9fa"></i>
                <% end %>
              </div>

          </div>
        </div>


        <div class="item">
          <div class="fave-img">
          <%= cl_image_tag @favourite.activity.photo.key, class:"cover" %>
          </div>
          <!-- <img src="https://source.unsplash.com/random/200x200" alt="restaurant image" class="fave-img"> -->
          <div class="fave-info">
              <h2><%= @favourite.activity.name %></h2>

              <div class="fave-activity-icon">
                <span class="material-icons md-24 md-red">attractions</span>
              </div>

                <div class="main-card-icons">
                <div class="budget">
                  <% @favourite.activity.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
                </div>
                <% if @favourite.activity.day && @favourite.activity.night %> <i class="fas fa-sun"></i> <i class="fas fa-moon"></i>
                  <% elsif @favourite.activity.night %> <i class="fas fa-sun" style="color:#f8f9fa"></i> <i class="fas fa-moon"></i>
                  <% else @favourite.activity.day %> <i class="fas fa-sun"></i> <i class="fas fa-moon" style="color:#f8f9fa"></i>
                <% end %>
              </div>

          </div>
        </div>
      </div>
    </div>
