<!-- <h1>Explore Options</h1> -->

<%# <%= link_to "star", favourites_path(restaurant_id: @restaurant.id, bar_id: @bar.id, activity_id: @activity.id), method: :post %>
<div class="container m-3 ">
  <div class="main_card">
    <div class="d-flex justify-content-center">
      <%= form_with model: Favourite.new do |f| %>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <%= f.hidden_field :bar_id, value: @bar.id %>
      <%= f.hidden_field :activity_id, value: @activity.id %>
      <% if current_user %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>
      <%# <button type="submit" class="btn-star">
        <i class="fas fa-star"></i> 
      </button> %>
      <button type="submit" class="btn-star">
        <span class="material-icons md-64 md-red">star_rate</span>
      </button>
      <%# <input class="btn-star" type="submit" value=""> %>
      <% end %>
    </div>
    <div class="restaurant">
      <div class="card-element">
        <%= image_tag @restaurant.photo, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @restaurant.name %></strong></h3>
                <p><%= @restaurant.address.truncate(50) %></p>
              </div>
              <div class="restaurant-icon">
                <span class="material-icons md-36 md-red center">restaurant</span>
              </div>
            </div>
            <p><%= @restaurant.description.truncate(80) %></p>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @restaurant.website %>">See more</a>
            </div>
  -->  </div>
      </div>
    </div>
    <div class="bar">
      <div class = "card-element">
        <%= image_tag @bar.photo, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @bar.name %></strong></h3>
                <p><%= @bar.address.truncate(50) %></p>
              </div>
              <div class="bar-icon">
                <span class="material-icons md-36 md-red">local_bar</span>
              </div>
            </div>
            <p><%= @bar.description.truncate(80) %></p>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @bar.website %>">See more</a>
            </div> -->
        </div>
      </div>
    </div>
    <div class="activity">
      <div class = "card-element">
        <%= image_tag @activity.photo, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @activity.name %></strong></h3>
                <p><%= @activity.address.truncate(50) %></p>
              </div>
              <div class="activity-icon">
                <span class="material-icons md-36 md-red">attractions</span>
              </div>
            </div>
            <p><%= @activity.description.truncate(80) %></p>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @activity.website %>">See more</a>
            </div> -->
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Shuffle", "", class: "btn-red" %>
    </div>
  </div>
</div>


<%# <button class = 'results-reload'>Click to Reload</button> %>

<%# <button type="submit" onClick=“reload()”>Refresh Button</button> %>

<%# <button onclick="updateDiv();">reload div</button> %>
<button type="button" onclick="updateDiv();">Update</button>
