<h1>Show card page</h1>

<%# <%= link_to "star", favourites_path(restaurant_id: @restaurant.id, bar_id: @bar.id, activity_id: @activity.id), method: :post %> 

<%= form_with model: Favourite.new do |f| %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  <%= f.hidden_field :bar_id, value: @bar.id %>
  <%= f.hidden_field :activity_id, value: @activity.id %>
  <% if current_user %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.submit "submit" %>
<% end %>

<div>
<%= @restaurant.name %> <br>
</div>

<div>
<%= @bar.name %> <br>
</div>

<div>
<%= @activity.name %>
</div>

<%= link_to "Refresh", "" %> 

<%# <button class = 'results-reload'>Click to Reload</button> %>

<%# <button type="submit" onClick=“reload()”>Refresh Button</button>

<%# <button onclick='reloadDIV ();'>reload div</button> %>