<!-- <h1>Explore Options</h1> -->

<%# <%= link_to "star", favourites_path(restaurant_id: @restaurant.id, bar_id: @bar.id, activity_id: @activity.id), method: :post %>

<div class="container">
  <div class="main_card">
   <div class="d-flex justify-content-center">
      <%= form_with model: Favourite.new do |f| %>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <%= f.hidden_field :bar_id, value: @bar.id %>
      <%= f.hidden_field :activity_id, value: @activity.id %>
      <% if current_user %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>
      <%# <button type="submit" class="btn-star">
        <i class="fas fa-star"></i>
      </button> %>
      <button type="submit" class="btn-star" >
        <!-- <i class="fas fa-star btn-star"></i> -->
        <span class="material-icons md-64 md-red" title="favourite me!">star_rate</span>
      </button>
      <%# <input class="btn-star" type="submit" value=""> %>
      <% end %>
    <!-- <div class="d-flex flex-row">
      <p>Favourite me!</p>
    </div> -->
    </div>

    <%= link_to restaurant_path(@restaurant), class:'restaurant-link' do %>
    <div class="restaurant" id="shuffle-rest" data-modal-target="#restaurantmodal">
      <div class="card-element">
        <%= cl_image_tag @restaurant.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @restaurant.name %></strong></h3>
                <p><strong><%= @restaurant.address.truncate(40) %></strong></p>
              </div>
              <div class="restaurant-icon">
                <span class="material-icons md-36 md-swiss-coffee center">restaurant</span>
              </div>
            </div>
            <p class="desc-margin"><%= @restaurant.description.truncate(65) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @restaurant.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @restaurant.day && @restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
            <% elsif @restaurant.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
            <% else @restaurant.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @restaurant.website %>">See more</a>
            </div>
  -->  </div>
      </div>
    </div>
<% end %>

    <div id="lock-rest">
      <span id="to-unlock-rest" class="material-icons md-red md-24">lock_open</span>
      <span id="to-lock-rest" class="material-icons d-none md-red md-24">lock</span>
    </div>

    <%= link_to bar_path(@bar), class:'bar-link' do %>
    <div class="bar" id="shuffle-bar">
      <div data-modal-target="#modal" class = "card-element">
        <%= cl_image_tag @bar.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @bar.name %></strong></h3>
                <p><strong><%= @bar.address.truncate(40) %></strong></p>
              </div>
              <div class="bar-icon">
                <span class="material-icons md-36 md-swiss-coffee">local_bar</span>
              </div>
            </div>
            <p class="desc-margin"><%= @bar.description.truncate(50) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @bar.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @bar.day && @bar.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
              <% elsif @bar.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
              <% else @bar.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @bar.website %>">See more</a>
            </div> -->
        </div>
      </div>
    </div>
  <% end %>

    <div id="lock-bar">
      <span id="to-unlock-bar" class="material-icons md-red md-24">lock_open</span>
      <span id="to-lock-bar" class="material-icons d-none md-red md-24">lock</span>
    </div>

  <%= link_to activity_path(@activity), class:'activity-link' do %>
    <div class="activity" id="shuffle-activity">
      <div class = "card-element">
        <%= cl_image_tag @activity.photo.key, class:"cover" %>
        <div class="card-element-content">
          <div>
            <div class="card-element-top">
              <div>
                <h3><strong><%= @activity.name %></strong></h3>
                <p><strong><%= @activity.address.truncate(40) %></strong></p>
              </div>
              <div class="activity-icon">
                <span class="material-icons md-36 md-swiss-coffee">attractions</span>
              </div>
            </div>
            <p class="desc-margin"><%= @activity.description.truncate(50) %></p>
          </div>
          <div class="main-card-icons">
            <div class="budget icon-margin">
              <% @activity.budget.times { |i| puts %> <i class="fas fa-pound-sign"></i> <% } %>
            </div>
            <% if @activity.day && @activity.night %> <span class="material-icons md-15 icon-margin">brightness_4</span>
              <% elsif @activity.night %> <span class="material-icons md-15 icon-margin">brightness_2</span>
              <% else @activity.day %> <span class="material-icons md-15 icon-margin">brightness_5</span>
            <% end %>
          </div>
    <!--    <div>
              <a class="btn-link" href="<%= @activity.website %>">See more</a>
            </div> -->
        </div>
      </div>
    </div>
  <% end %>


    <div id="lock-activity">
      <span id="to-unlock-activity" class="material-icons md-red md-24">lock_open</span>
      <span id="to-lock-activity" class="material-icons d-none md-red md-24">lock</span>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" id="shuffle" class="btn-red shuffle-button"><i class="fas fa-random"></i><!-- <i class="fas fa-dice"></i> --></button>
    </div>
  </div>

<%# <%= link_to "Shuffle", "", class: "btn-red" %>
   
   <%# RESTAURANT MODAL %>
       <div class="shuffle-modal" id="restaurantmodal">
        <div class="shuffle-modal-header">
          <div class="title"><%= @restaurant.name %></div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="shuffle-modal-body">
          <p><%= @restaurant.description %></p>
          <p><%= @restaurant.reviews.size %> Reviews
          <%= render "shared/rating", percent: ((@restaurant.reviews.average(:rating).to_f / 5.0) * 100) %> 
          </p> 
          <% @restaurant.reviews.each do |review| %>
          <%= render "shared/rating", percent: review.rating_as_percent %> <br>
          <%= review.title %> <br>
          <%= review.description %> <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorem possimus ut, perferendis doloremque at saepe veritatis deserunt cupiditate quia! Mollitia perspiciatis tenetur, est voluptas saepe animi dicta sed sunt voluptates hic dolorum aliquam a veritatis aliquid soluta provident tempore iusto assumenda architecto deleniti illo ducimus quisquam? Ullam, quos atque!
          <% end %>
        </div>
    </div>
    <div id="shuffle-overlay"></div>