  <div>
    <h1><%= @restaurant.name %></h1>
    <p>
      <%= @restaurant.description %>
    </p>
    <table>
      <tr>
        <th>Photo:</th>
        <td><%= cl_image_tag @restaurant.photo.key, class: "cover" %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @restaurant.address %></td>
      </tr>
      <tr>
        <th>Town:</th>
        <td><%= @restaurant.town %></td>
      </tr>
      <tr>
        <th>Postcode:</th>
        <td><%= @restaurant.post_code %></td>
      </tr>
      <tr>
        <th>Budget:</th>
        <td><%= @restaurant.budget %></td>
      </tr>
      <tr>
        <th>Day:</th>
        <td><%= @restaurant.day %></td>
      </tr>
      <tr>
        <th>Night:</th>
        <td><%= @restaurant.night %></td>
      </tr>
      <tr>
        <th>Website:</th>  
        <td><%= link_to "website", @restaurant.website, target: :blank %></td>
      </tr>
    </table>
    <br>
    <%# <%= link_to "Discovery page", pages_path %> 
    <%# <%= link_to "Favourites", favourites_path %> 

    <h2><%= @restaurant.reviews.size %> Reviews
    <%= render "shared/rating", percent: ((@restaurant.reviews.average(:rating).to_f / 5.0) * 100) %> 
    </h2> 
    <% @restaurant.reviews.each do |review| %>
    <%= render "shared/rating", percent: review.rating_as_percent %> <br>
    <%= review.title %> <br>
    <%= review.description %> <br>
    <% end %>
  </div>