  <div>
    <h1><%= @activity.name %></h1>
    <p>
      <%= @activity.description %>
    </p>
    <table>
      <tr>
        <th>Photo:</th>
        <td><%= cl_image_tag @activity.photo.key, class: "cover" %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @activity.address %></td>
      </tr>
      <tr>
        <th>Town:</th>
        <td><%= @activity.town %></td>
      </tr>
      <tr>
        <th>Postcode:</th>
        <td><%= @activity.post_code %></td>
      </tr>
      <tr>
        <th>Budget:</th>
        <td><%= @activity.budget %></td>
      </tr>
      <tr>
        <th>Day:</th>
        <td><%= @activity.day %></td>
      </tr>
      <tr>
        <th>Night:</th>
        <td><%= @activity.night %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><%=link_to "website", @activity.website, target: :blank %></td>
      </tr>
    </table>

    <h2><%= @activity.reviews.size %> Reviews
    <%= render "shared/rating", percent: ((@activity.reviews.average(:rating).to_f / 5.0) * 100) %> 
    </h2> 
    <% @activity.reviews.each do |review| %>
    <%= render "shared/rating", percent: review.rating_as_percent %> <br>
    <%= review.title %> <br>
    <%= review.description %> <br>
    <% end %>
  </div>